<header>
    <link rel="stylesheet" type="text/css" href="/css/style-adm.css" th:href="/css/style-adm.css">
 
</header>
<body>
    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="text-align: center">
              <strong>Bienvenidos</strong> al Sistema CASTELLANOS
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="container">
            <div class="abs-center" style="display:flex; align-items: center;
            justify-content: center;">
          <div class="row">
            <div class="col-6">
              <div class="card" style="max-width: 350px; margin-top: 30px;background-color: rgb(42, 93, 109);opacity: .75; ">
                <div class="card-body">
                  <h5 class="card-title" style="color: white;"><strong>REFACCIONES</strong></h5>
                  <p class="card-text" style="color: white;">Ver lista de refacciones en existencia.</p>
                  <div class="card-footer bg-transparent border-dark">
                  <button type="submit" class="btn btn-link" ><i class="fas fa-arrow-right"  style=" width:30px; height:30px; color: black; "></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card" style="max-width: 350px; margin-top: 30px; background-color: rgb(13, 122, 41);opacity: .75;">
                <div class="card-body">
                  <h5 class="card-title" style="color: white;"><strong>SERVICIO</strong></h5>
                  <p class="card-text" style="color: white;">Cotizar servicio.</p>
                  <div class="card-footer bg-transparent border-dark">
                  <button type="submit" class="btn btn-link" ><i class="fas fa-arrow-right"  style=" width:30px; height:30px; color: black; "></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card" style="max-width: 350px; margin-top: 60px;background-color: rgb(233, 114, 2);opacity: .75;" >
                <div class="card-body">
                  <h5 class="card-title" style="color: white;"><strong>VENTAS</strong></h5>
                  <p class="card-text" style="color: white;">Registrar venta.</p>
                  <div class="card-footer bg-transparent border-dark">
                  <button type="submit" class="btn btn-link" ><i class="fas fa-arrow-right"  style=" width:30px; height:30px; color: black; "></i>
                  </div>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card" style="max-width: 350px; margin-top: 60px; background-color: rgb(145, 135, 0);opacity: .75; ">
                <div class="card-body">
                  <h5 class="card-title" style="color: white;"><strong>REPARACIONES</strong></h5>
                  <p class="card-text" style="color: white;">Consultar estados de los autos.</p>
                  <div class="card-footer bg-transparent border-dark"></div>
                  <button type="submit" class="btn btn-link" ><i class="fas fa-arrow-right"  style=" width:30px; height:30px; color: black; "></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</body>