<link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="public/css/estilosRaul.css">
<br>
<!-- contenido central -->
<section>
  <!-- Botones de revision, proceso y terminado -->
  <div class="container pt-2">
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-1">
        <button type="button" class="btn btn-secondary">REVISIÓN</button>
      </div>
      <div class="col-1">

      </div>
      <div class="<col-2>">
        <button type="button" class="btn btn-secondary">PROCESO</button>
      </div>
      <div class="col-1">

      </div>
      <div class="<col-2>">
        <button type="button" class="btn btn-secondary">TERMINADO</button>
      </div>
    </div>
  </div>

  <!-- Tabla -->
  <div class="row py-5 px-4">
    <div class="col-2">

    </div>
  <div class="col-sm-7">
      <div class="scrollable-mini">
        <!---->  <div class="table-responsiv">
              <table class="table table-hover table-bordered">
                  <thead class="thead-dark">
                      <tr>
                          <th>ID</th>
                          <th>Folio de Servicio</th>
                          <th>Id automóvil</th>
                          <th>Fecha</th>
                          <th>Usuario</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>algo</td>
                      <td>algo</td>
                      <td>algo</td>
                      <td>algo</td>
                      <td>algo</td>
                      <td>
                        <button type="button" class="btn btn-secondary">Modificar</button>
                        <hr>
                        <button type="button" class="btn btn-secondary">Eliminar</button>
                      </tr>
                      <tr>
                        <td>algo</td>
                        <td>algo</td>
                        <td>algo</td>
                        <td>algo</td>
                        <td>algo</td>
                        <td>
                          <button type="button" class="btn btn-secondary">Modificar</button>
                          <hr>
                          <button type="button" class="btn btn-secondary">Eliminar</button>
                        </tr>
                        <tr>
                          <td>algo</td>
                          <td>algo</td>
                          <td>algo</td>
                          <td>algo</td>
                          <td>algo</td>
                          <td>
                            <button type="button" class="btn btn-secondary">Modificar</button>
                            <hr>
                            <button type="button" class="btn btn-secondary">Eliminar</button>
                          </tr>
                          <tr>
                            <td>algo</td>
                            <td>algo</td>
                            <td>algo</td>
                            <td>algo</td>
                            <td>algo</td>
                            <td>
                              <button type="button" class="btn btn-secondary">Modificar</button>
                              <hr>
                              <button type="button" class="btn btn-secondary">Eliminar</button>
                            </tr>
                            <tr>
                              <td>algo</td>
                              <td>algo</td>
                              <td>algo</td>
                              <td>algo</td>
                              <td>algo</td>
                              <td>
                                <button type="button" class="btn btn-secondary">Modificar</button>
                                <hr>
                                <button type="button" class="btn btn-secondary">Eliminar</button>
                              </tr>
                              <tr>
                                <td>algo</td>
                                <td>algo</td>
                                <td>algo</td>
                                <td>algo</td>
                                <td>algo</td>
                                <td>
                                  <button type="button" class="btn btn-secondary">Modificar</button>
                                  <hr>
                                  <button type="button" class="btn btn-secondary">Eliminar</button>
                                </tr>
                                <tr>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>
                                    <button type="button" class="btn btn-secondary">Modificar</button>
                                    <hr>
                                    <button type="button" class="btn btn-secondary">Eliminar</button>
                                  </tr>
                                  <tr>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>
                                      <button type="button" class="btn btn-secondary">Modificar</button>
                                      <hr>
                                      <button type="button" class="btn btn-secondary">Eliminar</button>
                                    </tr>
                                    <tr>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>
                                        <button type="button" class="btn btn-secondary">Modificar</button>
                                        <hr>
                                        <button type="button" class="btn btn-secondary">Eliminar</button>
                                      </tr>
                                      <tr>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>
                                          <button type="button" class="btn btn-secondary">Modificar</button>
                                          <hr>
                                          <button type="button" class="btn btn-secondary">Eliminar</button>
                                        </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</section>
  <!-- zona inferior -->
  <br>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-1">
          <!--<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#venteliminar">Eliminar</button>-->
        </div>
        <div class="col-1">
        </div>
        <div class="<col-1">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#ventananuevo">Nuevo</button>
        </div>
        <div class="col-1">
        </div>
        <div class="<col-2">
          <!--<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modificar">Modificar</button>-->
        </div>
        <div class="col-1">

        </div>
        <div class="<col-2">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#agregarrefaccion">Agregar refaccion</button>
        </div>
      </div>
    </div>
  </footer>

  <!--- Seccion de tablas emergentes ------------------------------->

  <!-- Ventana emergente eliminar
  <div class="modal fade" id="venteliminar" data-backdrop="static" tabindex="-1" role="dialog"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Eliminar Servicio</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="card">
                      <div class="card-body">
                          <p> Eliminar un registro implica realizar cambios.</p>
                          <p>¿Desea continuar?</p>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary">Aceptar</button>
              </div>
          </div>
      </div>
  </div>
  -->

<!-- ventana emergente para nuevo  -->
<div class="modal fade" id="ventananuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h5 class="modal-title text-light" id="confirmarservicioCenterTitle">Presupuesto</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Encabezado para folio y id -->
            <div class="modal-header">
              <div class="container">
                <div class="row justify-content-start px-2 py-3">
                    <div class="col-3">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    </div>
                    <div class="col-3">
                        <select id="inputState" class="form-control mr-sm-2">
                            <option selected>Opcion 1</option>
                            <option>Opcion 2</option>
                            <option>Opcion 3</option>
                            <option>Opcion 4</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-secondary " type="submit">Buscar</button>
                    </div>
              </div>
            </div>
            </div>
            <!-- Etiqueta para el centro -->
            <!-- Tabla 1 -->
            <div class="row py-3 px-5">
            <div class="col-sm-12">
                <div class="scrollable-mini">
                    <div class="table-responsiv">
                        <table class="table table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Descripción</th>
                                    <th>Precio Venta</th>
                                    <th>Existencias</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>algo</td>
                                <td>algo</td>
                                <td>algo</td>
                                <td>algo</td>
                                <td>
                                  <button type="button" class="btn btn-secondary">Modificar</button>
                                  <hr>
                                  <button type="button" class="btn btn-secondary">Eliminar</button>
                                </tr>
                                <tr>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>
                                    <button type="button" class="btn btn-secondary">Modificar</button>
                                    <hr>
                                    <button type="button" class="btn btn-secondary">Eliminar</button>
                                  </tr>
                                  <tr>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>
                                      <button type="button" class="btn btn-secondary">Modificar</button>
                                      <hr>
                                      <button type="button" class="btn btn-secondary">Eliminar</button>
                                    </tr>
                                    <tr>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>
                                        <button type="button" class="btn btn-secondary">Modificar</button>
                                        <hr>
                                        <button type="button" class="btn btn-secondary">Eliminar</button>
                                      </tr>
                                      <tr>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>
                                          <button type="button" class="btn btn-secondary">Modificar</button>
                                          <hr>
                                          <button type="button" class="btn btn-secondary">Eliminar</button>
                                        </tr>
                                        <tr>
                                          <td>algo</td>
                                          <td>algo</td>
                                          <td>algo</td>
                                          <td>algo</td>
                                          <td>
                                            <button type="button" class="btn btn-secondary">Modificar</button>
                                            <hr>
                                            <button type="button" class="btn btn-secondary">Eliminar</button>
                                          </tr>
                                          <tr>
                                            <td>algo</td>
                                            <td>algo</td>
                                            <td>algo</td>
                                            <td>algo</td>
                                            <td>
                                              <button type="button" class="btn btn-secondary">Modificar</button>
                                              <hr>
                                              <button type="button" class="btn btn-secondary">Eliminar</button>
                                            </tr>
                                            <tr>
                                              <td>algo</td>
                                              <td>algo</td>
                                              <td>algo</td>
                                              <td>algo</td>
                                              <td>
                                                <button type="button" class="btn btn-secondary">Modificar</button>
                                                <hr>
                                                <button type="button" class="btn btn-secondary">Eliminar</button>
                                              </tr>
                                              <tr>
                                                <td>algo</td>
                                                <td>algo</td>
                                                <td>algo</td>
                                                <td>algo</td>
                                                <td>
                                                  <button type="button" class="btn btn-secondary">Modificar</button>
                                                  <hr>
                                                  <button type="button" class="btn btn-secondary">Eliminar</button>
                                                </tr>
                                                <tr>
                                                  <td>algo</td>
                                                  <td>algo</td>
                                                  <td>algo</td>
                                                  <td>algo</td>
                                                  <td>
                                                    <button type="button" class="btn btn-secondary">Modificar</button>
                                                    <hr>
                                                    <button type="button" class="btn btn-secondary">Eliminar</button>
                                                  </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Boton de en medio-->
            <div class="col-5">

            </div>
            <div class="col-7 py-5 px-3">
            <button type="button" class="btn btn-secondary btn-lg">>>>></button>
            </div>
            <!-- Tabla 2 -->
            <div class="col-md-12 px-2">
                <div class="scrollable-mini">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                  <th>ID</th>
                                  <th>Descripción</th>
                                  <th>Precio Venta</th>
                                  <th>Cantidad</th>
                                  <th></th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>algo</td>
                                <td>algo</td>
                                <td>algo</td>
                                <td>algo</td>
                                <td>
                                  <button type="button" class="btn btn-secondary">Modificar</button>
                                  <hr>
                                  <button type="button" class="btn btn-secondary">Eliminar</button>
                                </tr>
                                <tr>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>
                                    <button type="button" class="btn btn-secondary">Modificar</button>
                                    <hr>
                                    <button type="button" class="btn btn-secondary">Eliminar</button>
                                  </tr>
                                  <tr>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>
                                      <button type="button" class="btn btn-secondary">Modificar</button>
                                      <hr>
                                      <button type="button" class="btn btn-secondary">Eliminar</button>
                                    </tr>
                                    <tr>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>
                                        <button type="button" class="btn btn-secondary">Modificar</button>
                                        <hr>
                                        <button type="button" class="btn btn-secondary">Eliminar</button>
                                      </tr>
                                      <tr>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>
                                          <button type="button" class="btn btn-secondary">Modificar</button>
                                          <hr>
                                          <button type="button" class="btn btn-secondary">Eliminar</button>
                                        </tr>
                                        <tr>
                                          <td>algo</td>
                                          <td>algo</td>
                                          <td>algo</td>
                                          <td>algo</td>
                                          <td>
                                            <button type="button" class="btn btn-secondary">Modificar</button>
                                            <hr>
                                            <button type="button" class="btn btn-secondary">Eliminar</button>
                                          </tr>
                                          <tr>
                                            <td>algo</td>
                                            <td>algo</td>
                                            <td>algo</td>
                                            <td>algo</td>
                                            <td>
                                              <button type="button" class="btn btn-secondary">Modificar</button>
                                              <hr>
                                              <button type="button" class="btn btn-secondary">Eliminar</button>
                                            </tr>
                                            <tr>
                                              <td>algo</td>
                                              <td>algo</td>
                                              <td>algo</td>
                                              <td>algo</td>
                                              <td>
                                                <button type="button" class="btn btn-secondary">Modificar</button>
                                                <hr>
                                                <button type="button" class="btn btn-secondary">Eliminar</button>
                                              </tr>
                                              <tr>
                                                <td>algo</td>
                                                <td>algo</td>
                                                <td>algo</td>
                                                <td>algo</td>
                                                <td>
                                                  <button type="button" class="btn btn-secondary">Modificar</button>
                                                  <hr>
                                                  <button type="button" class="btn btn-secondary">Eliminar</button>
                                                </tr>
                                                <tr>
                                                  <td>algo</td>
                                                  <td>algo</td>
                                                  <td>algo</td>
                                                  <td>algo</td>
                                                  <td>
                                                    <button type="button" class="btn btn-secondary">Modificar</button>
                                                    <hr>
                                                    <button type="button" class="btn btn-secondary">Eliminar</button>
                                                  </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- zona inferior -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-2">
              </div>
                <!-- etiqueta mano de obra -->
              <div class="col-4">
                  <input type="text" class="form-control" id="manodeobra" placeholder="Mano de obra">
              </div>
                <!-- etiquea adelano -->
              <div class="col-4">
                  <input type="text" class="form-control" id="adelanto" placeholder="Adelanto">
              </div>
            </div>
          </div>

          <div class="container pt-2">
            <div class="row">
              <div class="col-2 px-5">
              </div>
                <!-- boton calcular -->
              <div class="col-2 px-3">
              <button type="button" class="btn btn-secondary">Calcular Total</button>
              </div>
                <!-- Etiqueta Total -->
              <div class="col-6">
                  <input type="text" class="form-control" id="total" placeholder="Total">
              </div>
            </div>
          </div>

          <div class="container pt-2">
            <div class="row">
              <div class="col-5">
              </div>
                <!-- boton total -->
              <div class="col-2 px-5">
              <button type="button" class="btn btn-secondary">Limpiar</button>
              </div>

            </div>
          </div>
          <br>
        </footer>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary mx-auto px-5">Cancelar</button>
                <button type="button" class="btn btn-primary mx-auto" data-toggle="modal" data-target="#confirmarservicionuevo">Confirmar Servicio</button>
            </div>
        </div>
    </div>
</div>
    <!-- ventana emergene para el boton servicio confirmar en nuevo -->
    <form>
    <div class="modal fade" id="confirmarservicionuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary">
                    <h5 class="modal-title text-light" id="confirmarservicioCenterTitle">Confirmar Servicio</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Encabezado para folio y id -->
                <div class="modal-header">
                  <div class="container tercero">
                    <div class="row">
                        <div class="col-0 py-1">
                          <label for="formGroupExampleInput">Folio de servicio:</label>
                        </div>
                        <div class="col-2">
                          <input type="text" class="form-control" id="folio" placeholder="Folio">
                        </div>
                        <div class="col-4 px-1">
                        </div>
                        <div class="col-0 py-1">
                          <label for="formGroupExampleInput">Id de automóvil:</label>
                        </div>
                        <div class="col-2">
                          <input type="text" class="form-control" id="id_automovil" placeholder="id">
                        </div>
                    </div>
                  </div>
                </div>
                <!-- Etiqueta para los campos de opciones -->
                <div class="modal-body">
                  <div class="container-fluid cuarto pt-4">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-8">
                        <input type="text" class="form-control" id="marca" placeholder="Marca" required autocomplete="off">
                      </div>
                    </div>
                  </div>

                  <div class="container-fluid quinto pt-2">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-8">
                        <input type="text" class="form-control" id="modelo" placeholder="Modelo" required autocomplete="off">
                      </div>
                    </div>
                  </div>

                  <div class="container-fluid sexto pt-2">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-8">
                        <input type="text" class="form-control" id="placa" placeholder="Placa" required autocomplete="off">
                      </div>
                    </div>
                  </div>

                  <div class="container-fluid septimo pt-2">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-8">
                          <input type="number" class="form-control" id="Kilometraje" placeholder="Kilometraje" required autocomplete="off">
                      </div>
                    </div>
                  </div>

                  <div class="container-fluid octavo pt-2">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-8">
                            <input type="number" class="form-control" id="Combustible" placeholder="Combustible" required autocomplete="off">
                      </div>
                    </div>
                  </div>

                  <div class="container-fluid noveno pt-2">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-8">
                            <input type="textarea" class="form-control" id="Falla" placeholder="Falla" required autocomplete="off">
                      </div>
                    </div>
                  </div>

                  <div class="container-fluid decimo pt-2">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-8">
                            <input type="textarea" class="form-control" id="Accesorios" placeholder="Accesorios" required autocomplete="off">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mx-auto px-5">Cancelar</button>
                        <button type="submit" class="btn btn-primary mx-auto" data-toggle="modal"> <!--data-target="#avisoservicionuevo"-->Confirmar Servicio</button>
                </div>
            </div>
        </div>
        </div>
      </form>
        <!-- Ventana Emergente para totificar el servicio a sido registrado correctamente en nuevo
        <div class="modal fade" id="avisoservicionuevo" data-backdrop="static" tabindex="-1" role="dialog"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Aviso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-body">
                                <p> El servicio a sido registrado.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        -->
          <!-- Ventana Emergente para modificacion de datos -->
          <div class="modal fade" id="modificar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header bg-secondary">
                          <h5 class="modal-title text-light" id="confirmarservicioCenterTitle">Confirmar Modificacion</h5>
                          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <!-- Encabezado para folio y id -->
                      <div class="modal-header">
                        <div class="container tercero">
                          <div class="row">
                              <div class="col-0 py-1">
                                <label for="formGroupExampleInput">Folio de servicio:</label>
                              </div>
                              <div class="col-2">
                                <input type="text" class="form-control" id="folio" placeholder="Folio">
                              </div>
                              <div class="col-4 px-1">
                              </div>
                              <div class="col-0 py-1">
                                <label for="formGroupExampleInput">Id de automóvil:</label>
                              </div>
                              <div class="col-2">
                                <input type="text" class="form-control" id="id_automovil" placeholder="id">
                              </div>
                          </div>
                        </div>
                      </div>
                      <!-- Etiqueta para los campos de opciones -->
                      <div class="modal-body">
                        <div class="container-fluid cuarto pt-4">
                          <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-8">
                              <input type="text" class="form-control" id="marca" placeholder="Marca">
                            </div>
                          </div>
                        </div>

                        <div class="container-fluid quinto pt-2">
                          <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-8">
                              <input type="text" class="form-control" id="modelo" placeholder="Modelo">
                            </div>
                          </div>
                        </div>

                        <div class="container-fluid sexto pt-2">
                          <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-8">
                              <input type="text" class="form-control" id="placa" placeholder="Placa">
                            </div>
                          </div>
                        </div>

                        <div class="container-fluid septimo pt-2">
                          <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" id="Kilometraje" placeholder="Kilometraje">
                            </div>
                          </div>
                        </div>

                        <div class="container-fluid octavo pt-2">
                          <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-8">
                                  <input type="text" class="form-control" id="Combustible" placeholder="Combustible">
                            </div>
                          </div>
                        </div>

                        <div class="container-fluid noveno pt-2">
                          <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-8">
                                  <input type="text" class="form-control" id="Falla" placeholder="Falla">
                            </div>
                          </div>
                        </div>

                        <div class="container-fluid decimo pt-2">
                          <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-8">
                                  <input type="text" class="form-control" id="Accesorios" placeholder="Accesorios">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="modal-footer">
                              <button type="button" class="btn btn-secondary mx-auto px-5">Cancelar</button>
                                <button type="button" class="btn btn-primary mx-auto" data-toggle="modal" data-target="#avisomodificacion">Confirmar Modificación</button>
                      </div>
                  </div>
              </div>
              </div>
              <!-- Ventana Emergente para totificar el servicio a sido modificdo correctamente -->
              <div class="modal fade" id="avisomodificacion" data-backdrop="static" tabindex="-1" role="dialog"
                  aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">Aviso</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <div class="card">
                                  <div class="card-body">
                                      <p> El servicio a sido modificado.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                              <button type="button" class="btn btn-primary">Aceptar</button>
                          </div>
                      </div>
                  </div>
              </div>

<!-- ventana emergente Agregar Refaccion -->
<div class="modal fade" id="agregarrefaccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-lg modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header bg-secondary">
            <h5 class="modal-title text-light" id="confirmarservicioCenterTitle">Presupuesto</h5>
            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- Encabezado para folio y id -->
        <div class="modal-header">
          <div class="container">
            <div class="row justify-content-start px-2 py-3">
                <div class="col-3">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                </div>
                <div class="col-3">
                    <select id="inputState" class="form-control mr-sm-2">
                        <option selected>Opcion 1</option>
                        <option>Opcion 2</option>
                        <option>Opcion 3</option>
                        <option>Opcion 4</option>
                    </select>
                </div>
                <div class="col-3">
                    <button class="btn btn-secondary " type="submit">Buscar</button>
                </div>
                <div class="col-3">
                  <input type="text" class="form-control" id="folio" placeholder="Folio">
                </div>
          </div>
        </div>
        </div>
        <!-- Etiqueta para el centro -->
        <!-- Tabla 1 -->
        <div class="row py-3 px-5">
        <div class="col-sm-12">
            <div class="scrollable-mini">
                <div class="table-responsiv">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Descripción</th>
                                <th>Existencias</th>
                                <th>Precio Venta</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>algo</td>
                            <td>algo</td>
                            <td>algo</td>
                            <td>algo</td>
                            <td>
                              <button type="button" class="btn btn-secondary">Modificar</button>
                              <hr>
                              <button type="button" class="btn btn-secondary">Eliminar</button>
                            </tr>
                            <tr>
                              <td>algo</td>
                              <td>algo</td>
                              <td>algo</td>
                              <td>algo</td>
                              <td>
                                <button type="button" class="btn btn-secondary">Modificar</button>
                                <hr>
                                <button type="button" class="btn btn-secondary">Eliminar</button>
                              </tr>
                              <tr>
                                <td>algo</td>
                                <td>algo</td>
                                <td>algo</td>
                                <td>algo</td>
                                <td>
                                  <button type="button" class="btn btn-secondary">Modificar</button>
                                  <hr>
                                  <button type="button" class="btn btn-secondary">Eliminar</button>
                                </tr>
                                <tr>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>
                                    <button type="button" class="btn btn-secondary">Modificar</button>
                                    <hr>
                                    <button type="button" class="btn btn-secondary">Eliminar</button>
                                  </tr>
                                  <tr>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>
                                      <button type="button" class="btn btn-secondary">Modificar</button>
                                      <hr>
                                      <button type="button" class="btn btn-secondary">Eliminar</button>
                                    </tr>
                                    <tr>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>
                                        <button type="button" class="btn btn-secondary">Modificar</button>
                                        <hr>
                                        <button type="button" class="btn btn-secondary">Eliminar</button>
                                      </tr>
                                      <tr>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>
                                          <button type="button" class="btn btn-secondary">Modificar</button>
                                          <hr>
                                          <button type="button" class="btn btn-secondary">Eliminar</button>
                                        </tr>
                                        <tr>
                                          <td>algo</td>
                                          <td>algo</td>
                                          <td>algo</td>
                                          <td>algo</td>
                                          <td>
                                            <button type="button" class="btn btn-secondary">Modificar</button>
                                            <hr>
                                            <button type="button" class="btn btn-secondary">Eliminar</button>
                                          </tr>
                                          <tr>
                                            <td>algo</td>
                                            <td>algo</td>
                                            <td>algo</td>
                                            <td>algo</td>
                                            <td>
                                              <button type="button" class="btn btn-secondary">Modificar</button>
                                              <hr>
                                              <button type="button" class="btn btn-secondary">Eliminar</button>
                                            </tr>
                                            <tr>
                                              <td>algo</td>
                                              <td>algo</td>
                                              <td>algo</td>
                                              <td>algo</td>
                                              <td>
                                                <button type="button" class="btn btn-secondary">Modificar</button>
                                                <hr>
                                                <button type="button" class="btn btn-secondary">Eliminar</button>
                                              </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Boton agregar-->
        <div class="col-12 py-4 px-5">
          <button type="button" class="btn btn-secondary mx-auto" data-toggle="modal" data-target="#agregarcantidad">Agregar</button>
        </div>
        <!-- Tabla 2 -->
        <div class="col-md-12 px-2">
            <div class="scrollable-mini">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                            <tr>
                              <th>ID</th>
                              <th>Descripción</th>
                              <th>Precio Venta</th>
                              <th>Cantidad</th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>algo</td>
                            <td>algo</td>
                            <td>algo</td>
                            <td>algo</td>
                            <td>
                              <button type="button" class="btn btn-secondary">Modificar</button>
                              <hr>
                              <button type="button" class="btn btn-secondary">Eliminar</button>
                            </tr>
                            <tr>
                              <td>algo</td>
                              <td>algo</td>
                              <td>algo</td>
                              <td>algo</td>
                              <td>
                                <button type="button" class="btn btn-secondary">Modificar</button>
                                <hr>
                                <button type="button" class="btn btn-secondary">Eliminar</button>
                            </tr>
                            <tr>
                              <td>algo</td>
                              <td>algo</td>
                              <td>algo</td>
                              <td>algo</td>
                              <td>
                                <button type="button" class="btn btn-secondary">Modificar</button>
                                <hr>
                                <button type="button" class="btn btn-secondary">Eliminar</button>
                              </tr>
                              <tr>
                                <td>algo</td>
                                <td>algo</td>
                                <td>algo</td>
                                <td>algo</td>
                                <td>
                                  <button type="button" class="btn btn-secondary">Modificar</button>
                                  <hr>
                                  <button type="button" class="btn btn-secondary">Eliminar</button>
                                </tr>
                                <tr>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>algo</td>
                                  <td>
                                    <button type="button" class="btn btn-secondary">Modificar</button>
                                    <hr>
                                    <button type="button" class="btn btn-secondary">Eliminar</button>
                                  </tr>
                                  <tr>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>algo</td>
                                    <td>
                                      <button type="button" class="btn btn-secondary">Modificar</button>
                                      <hr>
                                      <button type="button" class="btn btn-secondary">Eliminar</button>
                                    </tr>
                                    <tr>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>algo</td>
                                      <td>
                                        <button type="button" class="btn btn-secondary">Modificar</button>
                                        <hr>
                                        <button type="button" class="btn btn-secondary">Eliminar</button>
                                      </tr>
                                      <tr>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>algo</td>
                                        <td>
                                          <button type="button" class="btn btn-secondary">Modificar</button>
                                          <hr>
                                          <button type="button" class="btn btn-secondary">Eliminar</button>
                                        </tr>
                                        <tr>
                                          <td>algo</td>
                                          <td>algo</td>
                                          <td>algo</td>
                                          <td>algo</td>
                                          <td>
                                            <button type="button" class="btn btn-secondary">Modificar</button>
                                            <hr>
                                            <button type="button" class="btn btn-secondary">Eliminar</button>
                                          </tr>
                                          <tr>
                                            <td>algo</td>
                                            <td>algo</td>
                                            <td>algo</td>
                                            <td>algo</td>
                                            <td>
                                              <button type="button" class="btn btn-secondary">Modificar</button>
                                              <hr>
                                              <button type="button" class="btn btn-secondary">Eliminar</button>
                                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <!-- Boton quitar-->
    <div class="col-12 py-5 px-5">
      <button type="button" class="btn btn-secondary" data-toggle="" data-target="#agregarrefaccion">Quitar</button>
    </div>
    </div>
    <!-- zona inferior -->
      <div class="container">
        <div class="row">
          <div class="col-1 px-5">
          </div>
          <!-- boton cancel -->
        <div class="col-2">
        <button type="button" class="btn btn-secondary">Cancelar</button>
        </div>
            <!-- boton ok -->
          <div class="col-2">
          <button type="button" class="btn btn-primary">Ok</button>
          </div>
            <!-- Etiqueta Total -->
          <div class="col-6">
              <input type="text" class="form-control" id="total" placeholder="Total">
          </div>
        </div>
      </div>
      <br>
    </div>
</div>
</div>


<!-- ventana emergente de boton agregar-->
<form>
<div class="modal fade" id="agregarcantidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-lg modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header bg-secondary">
            <h5 class="modal-title text-light" id="confirmarservicioCenterTitle">Cantidad</h5>
            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid cuarto pt-4">
            <div class="row">
              <div class="col-2">
              </div>
              <div class="col-8">
                <input type="number" class="form-control" id="canti" placeholder="Cantidad">
              </div>
            </div>
          </div>
          </div>
          <div class="modal-footer">
                  <button type="button" class="btn btn-secondary mx-auto px-5">Cancelar</button>
                    <button type="submit" class="btn btn-primary mx-auto" data-toggle="modal"> <!--data-target="#avisoadd"-->Ok</button>
          </div>
    </div>
</div>
</div>
</form>
<!-- Ventana Emergente para notificar que las cantidades han sido agregadas corectamente
<div class="modal fade" id="avisoadd" data-backdrop="static" tabindex="-1" role="dialog"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Aviso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <p> Agregado correctamente.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Aceptar</button>
        </div>
    </div>
</div>
</div>
-->
<!-- script para js  -->
<br>
