body{
    background-color: ghostwhite;
}
header{
    width:100%;
    overflow: hidden;
    background-color: orange;

}
header .logo{
    color: white;
    margin-left: 5px;
    font-size: 20px;
    line-height: 45px;
    float: left;
}
header .rol{

    margin-right: 22px;
    margin-top: 10px;
    line-height: 15px;
    float: right;
    text-align: right;
}
header .usuario{
    margin-right: 12px;
    margin-top: 10px;
    line-height: 15px;
    float: right;
    text-align: right;
}
.guia{
    height: 40px;
    margin-top: 0px;
     top: 20px;
    line-height: 10px;
    float: right;
    text-align: right;
}
.menu{
    background-color: rgb(12, 60, 107);
}

.scrollable-mini {
    max-height: 40vh;
    overflow: auto;
  
}

.placeHolder {
    width: 75%;
}

.unidad-y-clasf {
    margin: 0;
}
