<head>
  <link rel="stylesheet" type="text/css" href="/css/style-adm.css" th:href="/css/style-adm.css">
</head>

<body>
  <header style="height: 40px">
    <div class="logo">CASTELLANOS</div>
    <button type="submit" class="btn btn-dark guia"><i class="fas fa-sign-out-alt"></i></button>

    <label class="usuario"><i class="fas fa-user "></i> Mareli Rojas </label>
    <label class="rol">Gerente </label>
  </header>

  <nav class="navbar navbar-expand-sm navbar-dark menu">
    <a class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/process/home">INICIO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">REFACCIONES</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/process/add-repair">Agregar</a>
            <a class="dropdown-item" href="/process/see-repair-table">Ver Tabla</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">PROVEEDORES</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/process/add-provider">Agregar</a>
            <a class="dropdown-item" href="/process/see-provider-table">Ver Tabla</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">SERVICIO</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Presupuesto</a>
            <a class="dropdown-item" href="#">Ver Tabla</a>

        </li>

        <li class="nav-item">
          <a class="nav-link" href="/process/repairs">REPARACIONES</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">VENTAS</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/process/add-sale">Agregar</a>
            <a class="dropdown-item" href="#">Agregar Servicio</a>
            <a class="dropdown-item" href="/process/see-sale-table">Ver Tabla</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">DEVOLUCIONES</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/process/add-return">Agregar</a>
            <a class="dropdown-item" href="/process/see-return-table">Ver Tabla</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">USUARIOS</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Agregar</a>
            <a class="dropdown-item" href="#">Ver Tabla</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">REPORTES</a>
        </li>
      </ul>
    </div>
  </nav>
</body>